query GetAllProducts (
  $first: Int, 
  $last: Int, 
  $after: String, 
  $before: String,
  $query: String
) {
  productsCount(query: $query) {
    count
  }
  products(first: $first, last: $last, after: $after, before: $before, query: $query) {
    edges {
      cursor
      node {
        id
        title
        variantsCount { count }
        onlineStorePreviewUrl
        mediaCount { count }
        featuredMedia {
          ... on MediaImage {
            image {
              url
            }
          }
        }
        {% if include_media %}
          media(query: "media_type:IMAGE", sortKey: POSITION, first: 250) {
            nodes {
              ... on MediaImage {
                id
                image { url }
              }
            }
          }
        {% endif %}
        variants(first: {{ variants_limit }}) {
          nodes {
            title
            id
            imagesUrl: metafield(namespace: "custom", key: "variant_images_url") {
              jsonValue
            }
            assetImagesJson: metafield(namespace: "custom", key: "variant_images") {
              jsonValue
            }
            {% if include_filled_variant_images_assets %}
              assetImages: metafield(namespace: "custom", key: "variant_images") {
                images: references(first: 250) {
                  nodes {
                    ... on MediaImage {
                      id
                      image {
                        url
                      }
                    }
                  }
                }
              }
            {% endif %}
          }
        }
      }
    }
    pageInfo {
      hasNextPage
      hasPreviousPage
      endCursor
      startCursor
    }
  }
}