<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1"><a href="#">Back to top</a></p>
    <p class="mb-1">
      &copy; Synergee Worldwide Inc. This app is used for product customization in the Synergee brand's Shopify store.
    </p>
    <p class="mb-0">
      Need help? Check out our
      <a href="/docs/5.3/getting-started/introduction">guidelines</a>
      or contact the developer at
      <a href="mailto:abdullah21673@hotmail.com">abdullah21673@hotmail.com</a>.
    </p>
  </div>
</footer>
