<header data-bs-theme="dark">
  <div class="text-bg-dark collapse" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About Me</h4>
          <p class="text-body-secondary">
            Hi, I'm Md Abdullah from Bangladesh. I’m passionate about software development and began freelancing as a Shopify theme developer in July 2023. I specialize in coding and enjoy helping merchants enhance their stores through custom solutions. Along this journey, I’ve also developed a strong entrepreneurial mindset.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact Me</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/md-abdullah-9121b5228" class="text-white" target="_blank">Connect on LinkedIn</a></li>
            <li><a href="mailto:abdullah21673@hotmail.com" class="text-white">abdullah21673@hotmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{{ url_for('main.products') }}" class="navbar-brand d-flex align-items-center">
        <strong>Synergee App</strong>
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
