<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Synergee App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fastbootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        {% include 'partials/header.html' %}
    </header>

    <main class="bg-body-tertiary" style="min-height: 80vh;">
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/panzoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
